---
interface Props {
  title: string;
  subtitle?: string;
  align?: 'left' | 'center';
}

const { title, subtitle, align = 'left' } = Astro.props;
---

<div class={align === 'center' ? 'text-center' : ''}>
  <h2 class="text-3xl">{title}</h2>
  {subtitle && <p class={`mt-3 text-gray-700 ${align === 'center' ? 'mx-auto max-w-3xl' : 'max-w-3xl'}`}>{subtitle}</p>}
</div>
